.appointment-form {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.appointment-form input,
.appointment-form select,
.appointment-form button {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.appointment-form button {
  grid-column: span 2;
  background: #162a81;
  color: white;
  border: none;
  cursor: pointer;
}

/* AgendarCita.css */
.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1040;
}

.custom-modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  overflow: auto;
}

.modal-footer {
  display: block;
}

@media (max-width: 768px) {
  .appointment-form {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
  }
}