.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #162a81;
  color: white;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: contents;
  color: #71d5f3;
}

.img {
  width: 100%;
  height: auto;
  max-width: 100px;
  /* Adjust as needed */
  max-height: 50px;
  /* Adjust as needed */
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.menu-btn {
  display: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #162a81;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #496afa;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    background-color: #162a81;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .nav.open {
    display: flex;
  }

  .menu-btn {
    display: block;
  }

  .dropdown {
    position: relative;
    display: block;
    margin-left: -0.5rem;
  }


  .dropdown-btn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    background: transparent;
    min-width: 0;
    padding-left: 1rem;
  }

  .dropdown-content a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #496afa;
  }
}